* {
    padding: 0;
    margin: 0;
}

.body {
    background-color: #fff;
    height: 504.98px;
}

nav {
    background-color: #EEE;
    height: 59.44px;
}

.nav {
    margin: 0 auto;
    width: 1140px;
    height: 59.44px;
}

.nav .logo {
    float: left;
    padding-left: 12px;
    background-image: url('https://ankiweb.net/logo.png');
    background-position: right center;
    background-size: 32px;
    background-repeat: no-repeat;
    width: 115.02px;
    line-height: 59.44px;
    font-size: 20px;

}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.nav a {
    color: #00000077;
}
.nav .leftBox li {
    float: left;
    padding: 0 8px;
    height: 59.44px;
    line-height: 59.44px;
}

.nav .rightBox li {
    float: right;
    padding: 0 8px;
    height: 59.44px;
    line-height: 59.44px;
}

main {
    margin: 0 44.5px 16px;
    padding: 0 12px;
    height: 370.47px;
    width: 1140px;
}

.row {
    border-bottom: 1px gray solid;
    height: 40.78px;
}

.row .rowLeft {
    float: left;
    padding: 0 12px;
    height: 40.78px;
    line-height: 40.78px;
}

.row .rowRight {
    float: right;
    padding: 0 20px;
    height: 40.78px;
    line-height: 40.78px;
}

.row a {
    color: #0D6EDF;
}